/*
ESTO ARTICULA PARA PROPIEDADES COMO MARGIN-PADDING

            |TOP-RIGHT-BOTTOM-LEFT|
    margin: 10px 15px 20px 25px;

            |T-R-B-L|
    margin: 20px;

            |T-B / L-R|
    margin: 20px 10px;

            |T-L-R  - B|
    margin: 10px 10px 20px

    -----------------------------------

    margin-top:;
    margin-bottom:;
    margin-left:;
    margin-right:;
*/



/* RESET ESTILOS GENERALES */

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

ul {
display: inline-block;
}

li {
list-style: none;
display: inline-block;
}

a {
text-decoration: none;
}

/* HEADER */

.logoDoll img {
text-align: center;
max-height: 230px;
margin-left: 70px;
}

.loginCarrito {
margin-left: 400px;
}

.nav-item-login {
margin-right: 30px;
}

.navbar .nav-link {
color: #c08acc;
font-weight: bold;
font-size: 25px;
transition: color 0.3s ease;
}

.nav-item.dropdown {
position: relative;
}

.dropdown-menu {
background-color: white;
display: none;
position: absolute;
top: 100%;
left: 0;
list-style: none;
padding: 0;
margin: 0;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 4px;
z-index: 1000;
}

.dropdown-menu li {
padding: 8px 16px;
}

.dropdown-menu li a {
color: #AA73B6;
text-decoration: none;
display: block;
}

.dropdown-menu li a:hover {
background-color: #FAE3FF;
color: #AA73B6;
}

.nav-item.dropdown:hover .dropdown-menu {
display: block;
}

/* ESTILOS MAIN INDEX */

.banner {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1300px;
margin: 0 auto;
}

.banner img {
width: 25%;
height: auto;
max-width: 400px;
}

/* ESTILOS CATEGORÍAS */

.categorias {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #FAE3FF;
margin: 30px auto;
border-radius: 200px;
padding-top: 10px;
max-width: 700px;
max-height: 40px;
}

.categorias p {
color: #AA73B6;
font-size: 30px;
font-weight: bold;
margin: 0;
padding: 20px;
white-space: nowrap;
}

.categorias ul {
display: flex;
justify-content: flex-start;
list-style: none;
}

.categorias ul li {
margin-right: 20px;
padding: 20px;
font-size: 30px;
font-weight: bold;
}

.categorias a {
color: #AA73B6;
text-decoration: none;
}

/* ESTILOS CATEGORÍAS MAIN INDEX Y PAGE PRODUCTOS */

.btn-category {
background-color: #FAE3FF;
color: #AA73B6;
font-weight: bold;
border-radius: 5px;
font-size: 25px;
transition: transform 0.3s ease;
}

.btn-category:hover {
background-color: #f8d6fe;
color: #AA73B6;
transform: scale(1.05);
}

.btn-category-arrow {
background-color: #AA73B6;
color: #FAE3FF;
margin-left: 10px;
border: none;
font-size: 25px;
border-radius: 5px;
padding: 10px 15px;
}

.btn-category-arrow:hover {
background-color: #FAE3FF;
color: #AA73B6;
}

/* ESTILOS PRODUCTOS INDEX Y PAGE PRODUCTOS */

.productos {
display: flex;
flex-wrap: wrap;
gap: 15px;
max-width: 1200px;
margin: 40px auto;
justify-content: space-between;
}

.titProductos {
color: #AA73B6;
background-color: #FAE3FF;
padding: 15px;
font-size: 30px;
font-weight: bold;
margin-left: 200px;
border-radius: 10px;
}

.productos__card {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 30%;
min-height: 350px;
box-sizing: border-box;
padding: 10px;
background-color: #fff;
border-radius: 8px;
margin-bottom: 20px;
box-shadow: 0 2px 5px rgba(236, 76, 183, 0.1);
transition: transform 0.3s ease;
}

.productos__card img {
width: 100%;
height: 400px;
object-fit: cover; 
border-radius: 8px;
}

.productos__card h2 {
color: #AA73B6;
font-size: large;
text-align: left;
margin: 10px 0;
min-height: 40px; 
}

.productos__card:hover {
transform: scale(1.05);
}

.maquillaje--btn {
height: 50px;
color: #AA73B6;
background-color: #FAE3FF;
padding: 10px 20px;
border-radius: 8px;
font-size: 20px;
font-weight: bold;
text-align: center;
transition: background-color 0.3s ease, transform 0.3s ease;
margin-top: auto; 
border: none;
}

.maquillaje--btn:hover {
background-color: #f8d6fe;
}

/* ESTILOS BTN VER TODOS LOS PRODUCTOS */

.productos--btn {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 20px;
}

.productos--btn a {
display: inline-block;
color: #AA73B6;
background-color: #FAE3FF;
font-size: 25px;
font-weight: bold;
text-align: center;
text-decoration: none;
padding: 15px 25px;
border-radius: 8px;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.productos--btn a:hover {
background-color: #f8d6fe;
transform: scale(1.05);
}

/* ESTILOS MAIN PAGE CONTACTO */

body {
margin: 0;
padding: 0;
}

.contacto {
display: flex;
justify-content: center;
align-items: center;
}

.contacto .card {
background-color: white;
border-color: #d1a2dc;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(235, 19, 255, 0.308);
padding: 30px;
max-width: 1000px;
width: 100%;
text-align: center;
}

.contacto .card h1 {
color: #AA73B6;
background-color: #FAE3FF;
margin-left: 250px;
margin-right: 250px;
font-size: 60px;
font-weight: bold;
margin-bottom: 20px;
border-radius: 5px;
padding: 10px;
}

.contacto .card .info {
list-style: none;
padding: 0;
margin-bottom: 20px;
}

.contacto .card .info li {
display: flex;
color: #d1a2dc;
font-size: 25px;
font-weight: bold;
margin-bottom: 10px;
align-items: center;
justify-content: center;
}

.contacto .card .info li i {
color: #AA73B6;
margin-right: 25px;
font-weight: bold;
}

.contacto .card form {
display: flex;
flex-direction: column;
gap: 15px;
}

.contacto .card form label {
font-size: 25px;
font-weight: bold;
color: #AA73B6;
text-align: center;
}

.contacto .card form input,
.contacto .card form textarea {
color: #985ea5;
background-color: #faecfd;
width: 60%;
text-align: center;
margin-left: 210px;
max-width: 800px;
border: #AA73B6;
border-radius: 5px;
font-size: 25px;
font-weight: bold;
}

.contacto .card form textarea {
height: 100px;
}

.contacto .card form input:focus,
.contacto .card form textarea:focus {
outline: none;
border: 2px solid #AA73B6;
}

.contacto .card form input::placeholder,
.contacto .card form textarea::placeholder {
color: #AA73B6;
font-size: 25px;
font-weight: bold;
}

.contacto .card form button {
background-color: #FAE3FF;
width: 20%;
color: #AA73B6;
border: none;
padding: 10px;
margin-left: 400px;
border-radius: 5px;
font-size: 25px;
font-weight: bold;
transition: background-color 0.3s ease, transform 0.3s ease;
}

.contacto .card form button:hover{
transform: scale(1.05);
}

/* ESTILOS MAIN PAGE ENVIOS*/

.envios {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
padding: 20px;
}

/* CARD */

.envios .card {
background-color: #FFFFFF;
border-color: #d1a2dc;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(235, 19, 255, 0.308);
padding: 20px;
max-width: 1000px;
width: 100%;
align-items: center;
padding-left: 180px;
padding-right: 180px;
}

.envios h1 {
color: #AA73B6;
background-color: #FAE3FF;
font-size: 60px;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
max-width: fit-content;
border-radius: 5px;
}

.envios p {
color: #d1a2dc;
font-size: 25px;
margin-top: 10px;
font-weight: bold;
text-align: center;
}

.envios h2 {
color: #AA73B6;
background-color: #FAE3FF;
font-weight: bold;
padding: 15px;
max-width: fit-content;
border-radius: 5px;
}

.envios ul {
padding-left: 20px;
}

.envios ul li {
color: #d1a2dc;
font-size: 22px;
font-weight: bold;
margin-bottom: 10px;
text-align: center;
}

.envios a {
color: #AA73B6;
font-size: 30px;
}

.envios i {
font-size: 30px;
}

.telefonoContacto, .emailContacto {
color: #AA73B6;
margin-top: 10px;
font-size: 16px;
}

/* ESTILOS PAGE FAQ */

.faq {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0;
padding: 20px;
}

.faq .card {
background-color: #FFFFFF;
border-color: #d1a2dc;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(235, 19, 255, 0.308);
padding: 20px;
max-width: 1000px;
width: 100%;
text-align: center;
}

.faq .card h1 {
color: #AA73B6;
background-color: #FAE3FF;
font-size: 60px;
font-weight: bold;
text-align: center;
margin-bottom: 30px;
margin-left: 110px;
margin-right: 110px;
padding: 10px;
border-radius: 5px;
}

.faq .card h2 {
color: #AA73B6;
background-color: #FAE3FF;
display: inline-block;
font-size: 32px;
font-weight: bold;
padding: 10px 20px; 
border-radius: 10px;
margin-left: 270px;
margin-right: 270px;
}

.faq .card ul {
color: #AA73B6;
text-align: center;
}

.faq .card ul li {
color: #d1a2dc;
font-size: 25px;
font-weight: bold;
}

.faq .card p {
color: #d1a2dc;
text-align: center;
font-size: 25px;
font-weight: bold;
}

.faq .card .nota {
color: #AA73B6;
}

/*ESTILOS FOOTER*/

#footer {
margin-top: 200px;
margin-bottom: 50px;
margin-left: 30px;
margin-right: 30px;
}
#footer .card {
    border: none;
    border-radius: 10px;
    background-color: #FAE3FF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer .card-title {
    color: #AA73B6;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
#footer .card-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#footer .card-body ul li {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
#footer .card-body ul li a {
    color: #AA73B6;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
#footer .card-body ul li a:hover {
    color: #DDB7E5;
    text-decoration: none;
}
#footer .card-redes i {
    color: #AA73B6;
    margin-right: 5px;
    font-size: 16px;   
}
#footer .card-contacto p {
    font-size: 20px;
    font-weight: bold;
}
#footer .card-contacto i {
    color: #AA73B6;
    margin-bottom: 10px;
    margin-right: 5px;
}
#footer .card-contacto a {
    color: #AA73B6;
}

/* RESPONSIVE MAIN INICIO */

@media (max-width: 768px) {
    .banner {
    width: 60%;
    }
}
@media (max-width: 768px) {
    .banner img {
    width: 50%;
    }
}

/* BTN CATEGORIAS RESPONSIVE */

@media (max-width: 768px) {
    .categorias {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        padding: 10px;
        max-height: none; 
        border-radius: 20px; 
    }

    .categorias p {
        font-size: 22px; 
        padding: 10px;
    }

    .categorias ul {
        flex-wrap: wrap; 
        justify-content: center;
        padding: 0;
    }

    .categorias ul li {
        font-size: 20px;
        margin-right: 10px;
        padding: 10px;
    }

    .btn-category {
        font-size: 20px;
        padding: 8px 12px;
    }

    .btn-category-arrow {
        font-size: 20px;
        padding: 8px 10px;
    }
}

/* RESPONSIVE PRODUCTOS */

@media (max-width: 768px) {
    .productos {
        justify-content: center;
        gap: 15px;
    }

    .productos__card {
        width: 45%; 
        aspect-ratio: 1 / 1; 
    }

    .productos__card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titProductos {
        font-size: 22px;
        margin-left: 20px;
        text-align: center;
        width: 80%;
    }

    .productos__card h2 {
        font-size: 15;
    }

    .maquillaje--btn {
        font-size: 15px;
        padding: 8px 15px;
    }
}

/* RESPONSIVE CONTACTO */

@media (max-width: 768px) {
    .contacto .card {
        padding: 15px;
    }

    .contacto .card h1 {
        margin: 0 auto;
        font-size: 35px;
        width: 80%;
    }

    .contacto .card form input,
    .contacto .card form textarea {
        width: 90%;
        max-width: none;
        margin: 0 auto;
        display: block;
        font-size: 18px;
    }

    .contacto .card form button {
        width: 50%;
        margin: 0 auto;
        display: block;
    }
}


/*RESPONSIVE FAQ */

@media (max-width: 768px) {
    .faq {
        padding: 15px;
    }

    .faq .card {
        padding: 15px;
    }

    .faq .card h1 {
        font-size: 40px;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80%;
    }

    .faq .card h2 {
        font-size: 24px;
        margin: 0 auto;
        width: 70%;
    }

    .faq .card ul li,
    .faq .card p {
        font-size: 20px;
    }
}

/* ENVIOS RESPONSIVE */

@media (max-width: 768px) {
    .envios {
        padding: 15px;
    }

    .envios .card {
        padding-left: 40px;
        padding-right: 40px;
    }

    .envios h1 {
        font-size: 40px;
        text-align: center;
    }

    .envios h2 {
        font-size: 24px;
        text-align: center;
    }

    .envios p,
    .envios ul li {
        font-size: 20px;
    }

    .envios a,
    .envios i {
        font-size: 25px;
    }
}


/* ANIMACION */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

body {
    animation: fadeIn 0.2s ease-in;
}



/*# sourceMappingURL=style.css.map */
