/* ESTILOS MAIN PAGE ENVIOS*/

.envios {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
    
    /* CARD */

.envios .card {
    background-color: #FFFFFF;
    border-color: #d1a2dc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(235, 19, 255, 0.308);
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    align-items: center;
    padding-left: 180px;
    padding-right: 180px;
}
    
.envios h1 {
    color: #AA73B6;
    background-color: #FAE3FF;
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    max-width: fit-content;
    border-radius: 5px;
}
    
.envios p {
    color: #d1a2dc;
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
    
.envios h2 {
    color: #AA73B6;
    background-color: #FAE3FF;
    font-weight: bold;
    padding: 15px;
    max-width: fit-content;
    border-radius: 5px;
}
    
.envios ul {
    padding-left: 20px;
}
    
.envios ul li {
    color: #d1a2dc;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
    
.envios a {
    color: #AA73B6;
    font-size: 30px;
}
    
.envios i {
    font-size: 30px;
}
    
.telefonoContacto, .emailContacto {
    color: #AA73B6;
    margin-top: 10px;
    font-size: 16px;
}

/* ENVIOS RESPONSIVE */

@media (max-width: 768px) {
    .envios {
        padding: 15px;
    }

    .envios .card {
        padding-left: 40px;
        padding-right: 40px;
    }

    .envios h1 {
        font-size: 40px;
        text-align: center;
    }

    .envios h2 {
        font-size: 24px;
        text-align: center;
    }

    .envios p,
    .envios ul li {
        font-size: 20px;
    }

    .envios ul {
        padding: 0;
    }

    .envios a,
    .envios i {
        font-size: 25px;
    }
}